/* /styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Any other global styles you may want */


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', 'Arial', sans-serif;
}

.logo {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  overflow-x: hidden;
}








